/* CSS Demo */
/* Reset box-sizing for easier sizing */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* utiliy classes */
.container {
  width: 80vw;
  max-width: 960px;
  margin: 40px auto;
}

/* Responsive Images */
  img {
    max-width: 100%;
  }

/* Global Styles */
body {
  font-family: "Fontdiner Swanky", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #4f5954;
    color: #d4cccc;
}
header.primary{
  background:#48594E;
  color:#ffffff;
  text-align:center;
  text-shadow: 1px 1px #000000;
  /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /*Single value short hand*/
  padding: 40px;
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;
}
header.primary h1{
  font-size:3rem;
  margin: 20px 0 0; 
}
header.primary a{
  color: #d4cccc;
  text-decoration:none;
}
header.primary h2{
  font-size:1.6rem;
  letter-spacing:.3px;
  margin:0;
}
header.primary nav{

}
header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
header.primary nav li{
  list-style-type:none;
}
header.primary nav a{
  color:#ffffff;
  font-size:.9rem;
  background-color:rgba(28, 80, 39, 0.4);
  padding:5px 7.5px;
  border-radius:20px;
  border: 1px solid #c0c0c0;
  transition:0.4s;
}
header.primary nav a:hover {
  background-color:rgba(0,0,0,.8);
}


#intro h2{
  color: #d4cccc;
 border-bottom: 1px dotted #c0c0c0;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  gap: 20px;
}

#content.post{
  box-shadow: 0 4px 8px rgba(0,0,0,.6);
  padding: 10px;
  font-size: .8rem;
}

figure{margin: 0;}

#content time, figcaption {
  font-size: .7rem;
  text-transform: uppercase;
}

#content a {
  color: #d4cccc;
  font-weight: bold;
}

aside[role="complementary"]{
  background:#354038;
  color:#d4cccc;
  padding:40px 0;
  margin-left:20px;
  flex:1; /* Take up remaining space */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

aside .container{
  display:flex;
  flex-direction:row;
  gap:40px;
}

aside .container a{
color:#d4cccc;
}

aside .container a:last-child{
  display:block;
  text-align:right;
  margin-top:20px;
}

article.widget footer{
  display:none;
}

/#colophon{}
footer[role="contentinfo"]{}
footer.primary{}
footer:last-child{}*/

#colophon{
background-color: #48594E;
padding:5px;
color:#d4cccc;
text-align:center;
text-shadow:1px 1px #262625;
}
/*------------------Media Queries -------------------*/

@media screen and (max-width:500px){
  
header.primary nav ul{
  flex-direction:column;
  gap:10px;
}  
  
  header.primary nav a {
    display:block;
  } 
  
  
}