/* CSS Demo */
/* Reset box-sizing for easier sizing */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Basic body styling */
body {
  font-family: "Fontdiner Swanky", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #4f5954;
    color: #d4cccc;
}
header.primary{
  background:#48594E;
  color:#ffffff;
  text-align:center;
  text-shadow: 1px 1px #000000;
}